@font-face {
  font-family: "Microsoft PhangsPa";
  src: url("/fonts/phagspa.woff") format("woff"),
       url("/fonts/phagspa.ttf") format("ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: MicrosoftPhagsPa, "Microsoft PhangsPa", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
